*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Poppins',sans-serif;
}

.container{
    width: 40%;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
}

/* Task input and button formatting */
#newtask{
    position: relative;
    padding: 30px 20px;
}

#newtask input{
    width: 88%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid #e7eaeb;
}

#newtask input:focus{
    outline: none;
    border-color: #e4acec;;
}

#newtask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #e4acec;;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 10%;
    height: 45px;
    border-radius: 5px;
}

/* Task content formatting */
#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #e6dee8;
    border: 2px solid #ffffff;
    height: 50px;
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.task span{
    color: #000000;
    font-size: 15px;
    font-weight: 400;
}

/* Formatting for check, trash, and fire buttons in task */
.task button{
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    height: 100%;
    padding: 10px;
}

.tab {
    overflow: hidden;
    border-radius: 5px;
    width: 97%;
    margin: auto;
    background-color: #e4acec;
  }
  
/* Tab formatting */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #ffffff;
    font-size: 17px;
}
  
.tab button:hover {
    background-color: #ce9bd4;
}
  
.tab button.active {
    background-color: #9d77a1;
}
  
.tabcontent {
    display: none;
    margin: auto;
    width: 99%;
    padding: 6px 12px;
}